/* === Importing Helpers === */
/* === Variables === */
/* === Mixins === */
/* === Main Style === */
* {
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.image-parent {
  overflow: hidden;
  vertical-align: middle;
  position: relative; }

.image-cover {
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* === Importing Layout === */
/* === Header === */
header section {
  background: url("../img/stripes.png") repeat;
  background-color: #dfe3e5;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  header section > ul li {
    padding: 0 10px; }
    header section > ul li a {
      display: block;
      color: #000019; }
      header section > ul li a:hover {
        color: rgba(28, 34, 39, 0.54); }
header main {
  position: relative;
  height: 60px;
  background-color: #000019;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header main #hamburger {
    display: none;
    width: 50px;
    height: 40px;
    background: #DA0060;
    margin-left: 5px;
    padding: 8px;
    cursor: pointer; }
    header main #hamburger > span {
      display: block;
      width: 100%;
      height: 4px;
      background: #000019;
      margin: 4px 0; }
    @media (max-width: 767px) {
      header main #hamburger {
        display: block; } }
  @media (max-width: 767px) {
    header main > nav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.9);
      overflow-x: hidden;
      transition: 0.5s; } }
  header main > nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: #DA0060;
    display: none; }
    @media (max-width: 767px) {
      header main > nav .closebtn {
        display: block; } }
  @media (max-width: 767px) {
    header main > nav ul {
      position: relative;
      top: 25%;
      /* 25% from the top */
      width: 100%;
      text-align: center;
      margin-top: 30px;
      /* 30px top margin to avoid conflict with the close button on smaller screens */ } }
  header main > nav ul li {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 15px;
    position: relative; }
    @media (max-width: 767px) {
      header main > nav ul li {
        margin: 0;
        padding: 8px;
        font-size: 25px;
        display: block;
        /* Display block instead of inline-block */ } }
    header main > nav ul li > a {
      display: block;
      color: white;
      font-weight: bold;
      text-transform: uppercase; }
      header main > nav ul li > a i {
        color: #DA0060; }
    header main > nav ul li > div {
      min-width: 360px;
      min-height: 125px;
      position: absolute;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      background: rgba(40, 40, 40, 0.95);
      padding: 10px !important;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      z-index: 1;
      display: none; }
      header main > nav ul li > div > a {
        display: inline-block;
        border-radius: 5px;
        width: 100px;
        height: 100px;
        color: white;
        text-align: center;
        padding: 5px; }
        header main > nav ul li > div > a:nth-child(3n+1) {
          margin-left: 0; }
        header main > nav ul li > div > a:hover {
          background: rgba(255, 255, 255, 0.15); }
        header main > nav ul li > div > a > .image {
          height: 60px;
          margin: 0 auto; }
          header main > nav ul li > div > a > .image img {
            width: 100%; }
        header main > nav ul li > div > a > .image ~ div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px; }
    header main > nav ul li:hover > div {
      opacity: 1;
      visibility: visible; }
  header main figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 9; }
    header main figure a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 5px solid #000019;
      background: #000019; }
      header main figure a img {
        width: 100%; }
  header main > form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; }
    header main > form button {
      width: 70px;
      height: 100%;
      font-size: 27px;
      background: #DA0060;
      color: #000019;
      border: 0;
      outline: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      z-index: 1; }
      header main > form button:hover {
        background: #000019;
        color: #DA0060; }
    header main > form input {
      height: 100%;
      border: 0;
      outline: 0;
      background: #333;
      color: white;
      transition: all 0.3s ease-in-out;
      width: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 70px;
      z-index: 9; }
      header main > form input:focus {
        width: 200px;
        opacity: 1;
        padding: 0 10px; }
      header main > form input[placeholder] {
        color: white; }
    header main > form:hover input {
      width: 200px;
      opacity: 1;
      padding: 0 10px; }

/* === Main === */
header ~ main {
  padding: 20px; }
  header ~ main .section.group .col {
    padding: 10px; }
    header ~ main .section.group .col article {
      position: relative;
      padding-top: 55%; }
      header ~ main .section.group .col article > div:first-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        header ~ main .section.group .col article > div:first-child img {
          width: 100%; }
      header ~ main .section.group .col article > div:last-child {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        padding: 15px; }
        header ~ main .section.group .col article > div:last-child > a:first-child {
          color: #DA0060;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold; }
          header ~ main .section.group .col article > div:last-child > a:first-child:hover {
            text-decoration: underline; }
        header ~ main .section.group .col article > div:last-child > a:nth-child(2) h3 {
          margin: 0;
          color: white;
          font-size: 30px; }
        header ~ main .section.group .col article > div:last-child > p {
          margin: 5px 0;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          header ~ main .section.group .col article > div:last-child > p > a:first-child {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 5px; }
            header ~ main .section.group .col article > div:last-child > p > a:first-child img {
              width: 100%; }
          header ~ main .section.group .col article > div:last-child > p > span {
            color: white;
            margin-right: 5px; }
            header ~ main .section.group .col article > div:last-child > p > span:last-of-type {
              font-size: 13px;
              display: flex;
              justify-content: center;
              align-items: center; }
              header ~ main .section.group .col article > div:last-child > p > span:last-of-type::before, header ~ main .section.group .col article > div:last-child > p > span:last-of-type::after {
                content: '';
                width: 4px;
                height: 4px;
                background: white;
                display: inline-block;
                border-radius: 50%;
                margin: 0 5px; }
              header ~ main .section.group .col article > div:last-child > p > span:last-of-type i {
                margin-right: 3px; }
          header ~ main .section.group .col article > div:last-child > p > a:last-of-type {
            color: lightskyblue;
            margin-right: 5px; }
            header ~ main .section.group .col article > div:last-child > p > a:last-of-type:hover {
              text-decoration: underline; }
          header ~ main .section.group .col article > div:last-child > p > button {
            color: #DA0060;
            background: transparent;
            border: 0;
            cursor: pointer; }
  @media (max-width: 767px) {
    header ~ main .section.group:first-child .col.span_8_of_12 {
      width: 100% !important; }
    header ~ main .section.group:first-child .col.span_4_of_12 {
      width: 100% !important; }
    header ~ main .section.group:first-child .col.col {
      margin-left: 0; }
      header ~ main .section.group:first-child .col.col article > div:last-child {
        position: relative;
        background: #000019; }
        header ~ main .section.group:first-child .col.col article > div:last-child > a:nth-child(2) h3 {
          font-size: 18px; }
        header ~ main .section.group:first-child .col.col article > div:last-child > p {
          display: block; }
          header ~ main .section.group:first-child .col.col article > div:last-child > p > a:first-child {
            display: none; }
          header ~ main .section.group:first-child .col.col article > div:last-child > p > span:first-of-type {
            display: inline-block;
            margin-bottom: 5px; }
          header ~ main .section.group:first-child .col.col article > div:last-child > p > a:last-of-type {
            display: inline-block;
            margin-bottom: 5px; }
          header ~ main .section.group:first-child .col.col article > div:last-child > p > span:last-of-type {
            display: block;
            margin-bottom: 5px; }
            header ~ main .section.group:first-child .col.col article > div:last-child > p > span:last-of-type::before, header ~ main .section.group:first-child .col.col article > div:last-child > p > span:last-of-type::after {
              display: none; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header ~ main .section.group:first-child .col.span_8_of_12 {
      width: 100%; }
    header ~ main .section.group:first-child .col.span_4_of_12 {
      width: 49.2%; }
    header ~ main .section.group:first-child .col.col:nth-child(2) {
      margin-left: 0;
      margin-bottom: 0; }
    header ~ main .section.group:first-child .col.span_4_of_12 article > div:last-child > a:nth-child(2) h3 {
      font-size: 22px; }
    header ~ main .section.group:first-child .col.span_4_of_12 article > div:last-child > p > a:first-child {
      display: none; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    header ~ main .section.group:first-child .col.span_8_of_12 {
      width: 100%; }
    header ~ main .section.group:first-child .col.span_4_of_12 {
      width: 49.2%; }
    header ~ main .section.group:first-child .col.col:nth-child(2) {
      margin-left: 0;
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    header ~ main .section.group:first-child .col.col {
      margin-top: 0;
      margin-bottom: 0; } }
  @media (max-width: 767px) {
    header ~ main .section.group:last-child .col.span_4_of_12 {
      width: 100%; }
    header ~ main .section.group:last-child .col.col {
      margin-left: 0; }
      header ~ main .section.group:last-child .col.col article > div:last-child {
        position: relative;
        background: #000019; }
        header ~ main .section.group:last-child .col.col article > div:last-child > a:nth-child(2) h3 {
          font-size: 18px; }
        header ~ main .section.group:last-child .col.col article > div:last-child > p {
          display: block; }
          header ~ main .section.group:last-child .col.col article > div:last-child > p > a:first-child {
            display: none; }
          header ~ main .section.group:last-child .col.col article > div:last-child > p > span:first-of-type {
            display: inline-block;
            margin-bottom: 5px; }
          header ~ main .section.group:last-child .col.col article > div:last-child > p > a:last-of-type {
            display: inline-block;
            margin-bottom: 5px; }
          header ~ main .section.group:last-child .col.col article > div:last-child > p > span:last-of-type {
            display: block;
            margin-bottom: 5px; }
            header ~ main .section.group:last-child .col.col article > div:last-child > p > span:last-of-type::before, header ~ main .section.group:last-child .col.col article > div:last-child > p > span:last-of-type::after {
              display: none; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header ~ main .section.group:last-child .col.span_4_of_12 {
      width: 49.2%; }
    header ~ main .section.group:last-child .col.col:nth-child(2n+1) {
      margin-left: 0; }
    header ~ main .section.group:last-child .col.span_4_of_12 article > div:last-child > a:nth-child(2) h3 {
      font-size: 22px; }
    header ~ main .section.group:last-child .col.span_4_of_12 article > div:last-child > p > a:first-child {
      display: none; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    header ~ main .section.group:last-child .col.span_4_of_12 {
      width: 49.2%; }
    header ~ main .section.group:last-child .col.col:nth-child(2n+1) {
      margin-left: 0; } }
  @media (max-width: 767px) {
    header ~ main {
      padding: 20px 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header ~ main {
      padding: 20px 0; } }

/* === Articles === */
main ~ article {
  padding: 20px; }
  main ~ article .section.group .col main {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    border-bottom: 1px solid #dfe3e5;
    clear: both; }
    main ~ article .section.group .col main:hover {
      background: #dfe3e5; }
    main ~ article .section.group .col main > div:first-child {
      width: 40%;
      height: 100%;
      float: left; }
      main ~ article .section.group .col main > div:first-child img {
        width: 100%; }
    main ~ article .section.group .col main > div:last-child {
      width: 60%;
      height: 100%;
      text-align: left;
      padding-left: 10px;
      float: right; }
      main ~ article .section.group .col main > div:last-child > a:first-child {
        color: #DA0060;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold; }
        main ~ article .section.group .col main > div:last-child > a:first-child:hover {
          text-decoration: underline; }
      main ~ article .section.group .col main > div:last-child > a:nth-child(2) h3 {
        margin: 0;
        color: black;
        font-size: 30px; }
      main ~ article .section.group .col main > div:last-child > p:nth-child(3) {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        height: 90px;
        overflow: hidden; }
      main ~ article .section.group .col main > div:last-child > p:last-child {
        margin: 5px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main ~ article .section.group .col main > div:last-child > p:last-child > a:first-child {
          display: inline-block;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          margin-right: 5px; }
          main ~ article .section.group .col main > div:last-child > p:last-child > a:first-child img {
            width: 100%; }
        main ~ article .section.group .col main > div:last-child > p:last-child > span {
          color: #777;
          margin-right: 5px; }
          main ~ article .section.group .col main > div:last-child > p:last-child > span:last-of-type {
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center; }
            main ~ article .section.group .col main > div:last-child > p:last-child > span:last-of-type::before, main ~ article .section.group .col main > div:last-child > p:last-child > span:last-of-type::after {
              content: '';
              width: 4px;
              height: 4px;
              background: #777;
              display: inline-block;
              border-radius: 50%;
              margin: 0 5px; }
            main ~ article .section.group .col main > div:last-child > p:last-child > span:last-of-type i {
              margin-right: 3px; }
        main ~ article .section.group .col main > div:last-child > p:last-child > a:last-of-type {
          color: steelblue;
          margin-right: 5px; }
          main ~ article .section.group .col main > div:last-child > p:last-child > a:last-of-type:hover {
            text-decoration: underline; }
        main ~ article .section.group .col main > div:last-child > p:last-child > button {
          color: #DA0060;
          background: transparent;
          border: 0;
          cursor: pointer; }
  main ~ article .section.group .col .title {
    margin-top: 0; }
    main ~ article .section.group .col .title::before {
      content: '';
      width: 35px;
      height: 3px;
      background: #DA0060;
      display: block;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out; }
    main ~ article .section.group .col .title:hover::before {
      width: 160px; }
  main ~ article .section.group .col aside {
    margin-bottom: 10px; }
    main ~ article .section.group .col aside a {
      position: relative;
      display: block; }
      main ~ article .section.group .col aside a img {
        width: 100%; }
      main ~ article .section.group .col aside a h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px 5px 10px 0px;
        background: rgba(0, 0, 0, 0.8);
        color: white; }
        main ~ article .section.group .col aside a h3 span {
          width: 40px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          background: #DA0060;
          color: white;
          margin-right: 8px; }
  @media (max-width: 767px) {
    main ~ article .section.group .col.span_9_of_12 {
      width: 100%; }
    main ~ article .section.group .col.span_3_of_12 {
      width: 100%; }
    main ~ article .section.group .col {
      margin-left: 0; }
      main ~ article .section.group .col > main > div:first-child {
        width: 100%; }
      main ~ article .section.group .col > main > div:last-child {
        width: 100%; }
        main ~ article .section.group .col > main > div:last-child > a:nth-child(2) h3 {
          font-size: 18px; }
        main ~ article .section.group .col > main > div:last-child > p:last-child {
          display: block; }
          main ~ article .section.group .col > main > div:last-child > p:last-child > a:first-child {
            display: none; }
          main ~ article .section.group .col > main > div:last-child > p:last-child > span:first-of-type {
            display: inline-block;
            margin-bottom: 5px; }
          main ~ article .section.group .col > main > div:last-child > p:last-child > a:last-of-type {
            display: inline-block;
            margin-bottom: 5px; }
          main ~ article .section.group .col > main > div:last-child > p:last-child > span:last-of-type {
            display: block;
            margin-bottom: 5px; }
            main ~ article .section.group .col > main > div:last-child > p:last-child > span:last-of-type::before, main ~ article .section.group .col > main > div:last-child > p:last-child > span:last-of-type::after {
              display: none; } }
  @media (min-width: 768px) and (max-width: 991px) {
    main ~ article .section.group .col.span_9_of_12 {
      width: 100%; }
    main ~ article .section.group .col.span_3_of_12 {
      width: 100%; }
    main ~ article .section.group .col {
      margin-left: 0; }
      main ~ article .section.group .col > main > div:last-child > a:nth-child(2) h3 {
        font-size: 18px; }
      main ~ article .section.group .col > aside {
        display: inline-block;
        float: left;
        width: 32.26%;
        margin: 1% 0 1% 1.6%; }
        main ~ article .section.group .col > aside:first-of-type {
          margin-left: 0; }
        main ~ article .section.group .col > aside:nth-of-type(3n+1) {
          margin-left: 0; } }

/* === Pagination === */
article ~ ul {
  padding: 20px;
  text-align: center; }
  article ~ ul li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #dfe3e5; }
    article ~ ul li.active a {
      background: #000019;
      color: white; }
    article ~ ul li a {
      display: block;
      padding: 10px;
      color: black; }
      article ~ ul li a:hover {
        background: #000019;
        color: white; }

/* === Footer === */
footer {
  padding: 20px;
  text-align: center;
  background: #000019;
  color: white; }
  footer form {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer form input {
      padding: 10px;
      margin-right: 3px;
      outline: 0; }
    footer form button {
      padding: 10px 30px;
      cursor: pointer;
      background: #DA0060;
      color: #000019;
      border: 2px solid #DA0060;
      font-weight: bold;
      transition: all 0.3s ease-in-out; }
      footer form button:hover {
        background: #000019;
        color: #DA0060; }
    @media (max-width: 410px) {
      footer form {
        display: block; }
        footer form input {
          width: 100%;
          margin-bottom: 10px; }
        footer form button {
          width: 100%; } }
  footer hr {
    margin: 40px 0;
    border-color: #777; }
  footer ul li {
    display: inline-block;
    margin-right: 10px; }
    footer ul li a {
      color: white;
      font-size: 15px; }
      footer ul li a:hover {
        color: #DA0060;
        text-decoration: underline; }

/* === Framework === */

/*# sourceMappingURL=style.css.map */
