/* === Variables === */
$mainColor              : #DA0060;
$headerbg               : #000019; // #1c2227 #000033
$topbarbg               : #dfe3e5;
$white                  : white;
$black                  : black;
$textColor              : #777;
$transparent            : transparent;
$zero                   : 0;
$ten                    : 10px;
$mainPadding            : 20px;
$transition             : all 0.3s ease-in-out;
