/* === Variables === */
$mainColor              : #DA0060;
$headerbg               : #414141;
$headerlinkcolor        : #A5A5A5;
$headerlinkhover        : #C0C0C0;
$white                  : white;
$black                  : black;
$textColor              : #666;
$transparent            : transparent;
$zero                   : 0;
$ten                    : 10px;
