/* === Variables === */
$mainColor              : #DA0060;
$headerbg               : #1c2227;
$topbarbg               : #dfe3e5;
$white                  : white;
$black                  : black;
$textColor              : #666;
$transparent            : transparent;
$zero                   : 0;
$ten                    : 10px;
$transition             : all 0.3s ease-in-out;
