/* === Importing Helpers === */
/* === Variables === */
/* === Mixins === */
/* === Importing Layout === */
/* === Header === */
header section {
  background: url("../img/stripes.png") repeat;
  background-color: #dfe3e5;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  header section > ul li {
    padding: 0 10px; }
    header section > ul li a {
      display: block;
      color: #000019; }
      header section > ul li a:hover {
        color: rgba(28, 34, 39, 0.54); }
header main {
  position: relative;
  height: 60px;
  background-color: #000019;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header main #hamburger {
    display: none;
    width: 50px;
    height: 40px;
    background: #DA0060;
    margin-left: 5px;
    padding: 8px;
    cursor: pointer; }
    header main #hamburger > span {
      display: block;
      width: 100%;
      height: 4px;
      background: #000019;
      margin: 4px 0; }
    @media (max-width: 767px) {
      header main #hamburger {
        display: block; } }
  @media (max-width: 767px) {
    header main > nav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.9);
      overflow-x: hidden;
      transition: 0.5s; } }
  header main > nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: #DA0060;
    display: none; }
    @media (max-width: 767px) {
      header main > nav .closebtn {
        display: block; } }
  @media (max-width: 767px) {
    header main > nav ul {
      position: relative;
      top: 25%;
      /* 25% from the top */
      width: 100%;
      text-align: center;
      margin-top: 30px;
      /* 30px top margin to avoid conflict with the close button on smaller screens */ } }
  header main > nav ul li {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 15px;
    position: relative; }
    @media (max-width: 767px) {
      header main > nav ul li {
        margin: 0;
        padding: 8px;
        font-size: 25px;
        display: block;
        /* Display block instead of inline-block */ } }
    header main > nav ul li > a {
      display: block;
      color: white;
      font-weight: bold;
      text-transform: uppercase; }
      header main > nav ul li > a i {
        color: #DA0060; }
    header main > nav ul li > div {
      min-width: 360px;
      min-height: 125px;
      position: absolute;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      background: rgba(40, 40, 40, 0.95);
      padding: 10px !important;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      z-index: 1;
      display: none; }
      header main > nav ul li > div > a {
        display: inline-block;
        border-radius: 5px;
        width: 100px;
        height: 100px;
        color: white;
        text-align: center;
        padding: 5px; }
        header main > nav ul li > div > a:nth-child(3n+1) {
          margin-left: 0; }
        header main > nav ul li > div > a:hover {
          background: rgba(255, 255, 255, 0.15); }
        header main > nav ul li > div > a > .image {
          height: 60px;
          margin: 0 auto; }
          header main > nav ul li > div > a > .image img {
            width: 100%; }
        header main > nav ul li > div > a > .image ~ div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px; }
    header main > nav ul li:hover > div {
      opacity: 1;
      visibility: visible; }
  header main figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 9; }
    header main figure a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 5px solid #000019;
      background: #000019; }
      header main figure a img {
        width: 100%; }
  header main > form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; }
    header main > form button {
      width: 70px;
      height: 100%;
      font-size: 27px;
      background: #DA0060;
      color: #000019;
      border: 0;
      outline: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      z-index: 1; }
      header main > form button:hover {
        background: #000019;
        color: #DA0060; }
    header main > form input {
      height: 100%;
      border: 0;
      outline: 0;
      background: #333;
      color: white;
      transition: all 0.3s ease-in-out;
      width: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 70px;
      z-index: 9; }
      header main > form input:focus {
        width: 200px;
        opacity: 1;
        padding: 0 10px; }
      header main > form input[placeholder] {
        color: white; }
    header main > form:hover input {
      width: 200px;
      opacity: 1;
      padding: 0 10px; }

/* === Footer === */
footer {
  padding: 20px;
  text-align: center;
  background: #000019;
  color: white; }
  footer form {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer form input {
      padding: 10px;
      margin-right: 3px;
      outline: 0; }
    footer form button {
      padding: 10px 30px;
      cursor: pointer;
      background: #DA0060;
      color: #000019;
      border: 2px solid #DA0060;
      font-weight: bold;
      transition: all 0.3s ease-in-out; }
      footer form button:hover {
        background: #000019;
        color: #DA0060; }
    @media (max-width: 410px) {
      footer form {
        display: block; }
        footer form input {
          width: 100%;
          margin-bottom: 10px; }
        footer form button {
          width: 100%; } }
  footer hr {
    margin: 40px 0;
    border-color: #777; }
  footer ul li {
    display: inline-block;
    margin-right: 10px; }
    footer ul li a {
      color: white;
      font-size: 15px; }
      footer ul li a:hover {
        color: #DA0060;
        text-decoration: underline; }

/* === Main Style === */
* {
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.image-parent {
  overflow: hidden;
  vertical-align: middle;
  position: relative; }

.image-cover {
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* === Top-bar Background Image Path === */
header section {
  background: url("../../img/stripes.png") repeat;
  background-color: #dfe3e5; }

/* === Login & Register Page === */
header ~ section {
  padding: 20px; }
  header ~ section .container {
    text-align: left; }
    header ~ section .container .col h2 {
      position: relative;
      display: block;
      font-weight: bold;
      padding-bottom: 10px; }
      header ~ section .container .col h2::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 55px;
        height: 4px;
        background: black;
        display: block;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out; }
      header ~ section .container .col h2:hover::before {
        width: 105px;
        background: #DA0060; }
    header ~ section .container .col form > div {
      text-align: left;
      margin-bottom: 30px; }
      header ~ section .container .col form > div label:first-child {
        display: block;
        font-weight: bold;
        margin-bottom: 10px; }
      header ~ section .container .col form > div input[type="text"], header ~ section .container .col form > div input[type="password"], header ~ section .container .col form > div input[type="email"] {
        width: 100%;
        border: 0;
        outline: 0;
        background: #dfe3e5;
        padding: 10px; }
      header ~ section .container .col form > div a {
        color: steelblue; }
      header ~ section .container .col form > div button {
        padding: 10px 30px;
        cursor: pointer;
        background: #DA0060;
        color: white;
        border: 2px solid #DA0060;
        font-weight: bold;
        transition: all 0.3s ease-in-out; }
        header ~ section .container .col form > div button:hover {
          background: white;
          color: #DA0060; }
    header ~ section .container .col:last-of-type {
      padding-left: 20px; }
      @media (max-width: 767px) {
        header ~ section .container .col:last-of-type {
          padding-left: 0; } }
    @media (max-width: 767px) {
      header ~ section .container .col {
        margin-left: 0; }
      header ~ section .container .col.span_6_of_12 {
        width: 100%; } }

/*# sourceMappingURL=login-register.css.map */
