/* === Header === */

header {
    // Top-Bar
    section {
        background: url('../img/stripes.png') repeat;
        background-color: $topbarbg;
        height: 30px;
        @include flexbox($justify-content: flex-start);
        > ul li {
            padding: $zero $ten;
            a {
                display: block;
                color: $headerbg;
                &:hover {
                    color: rgba(28, 34, 39, 0.54);
                }
            }
        }
    }
    // Nav-Bar
    main {
        position: relative;
        height: 60px;
        background-color: $headerbg;
        @include flexbox($justify-content: space-between);
        > ul li {
            display: inline-block;
            height: 60px;
            line-height: 60px;
            margin-left: 15px;
            position: relative;
            > a {
                display: block;
                color: $white;
                font-weight: bold;
                text-transform: uppercase;
                i {
                    color: $mainColor;
                }
            }
            // Dropdown-Menu
            > div {
                min-width: 360px;
                min-height: 125px;
                position: absolute;
                top: 100%;
                opacity: $zero;
                visibility: hidden;
                background: rgba(40,40,40,0.95);
                padding: $ten !important;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                z-index: 1;
                > a {
                    display: inline-block;
                    border-radius: 5px;
                    width: 100px;
                    height: 100px;
                    color: $white;
                    text-align: center;
                    padding: 5px;
                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }
                    &:hover {
                        background: rgba(255, 255, 255, 0.15);
                    }
                    > .image {
                        height: 60px;
                        margin: $zero auto;
                        img {
                            width: 100%;
                        }
                    }
                    > .image ~ div {
                        @include flexbox;
                        height: 40px;
                    }
                }
            }
            &:hover {
                > div {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        // Logo
        figure {
            margin: 0;
            top: -50%;
            right: -50%;
            transform: translate(-50%, 0);
            a {
                @include flexbox;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                border: 5px solid $headerbg;
                background: $headerbg;
                img {
                    width: 100%;
                }
            }
        }
        // Search
        > form {
            @include flexbox;
            height: 100%;
            position: relative;
            button {
                width: 70px;
                height: 100%;
                font-size: 27px;
                background: $mainColor;
                color: $headerbg;
                border: $zero;
                outline: $zero;
                cursor: pointer;
                transition: $transition;
                z-index: 1;
                &:hover {
                    background: $headerbg;
                    color: $mainColor;
                }
            }
            input {
                height: 100%;
                border: $zero;
                outline: $zero;
                background: #333;
                color: $white;
                transition: $transition;
                width: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 70px;
                &:focus {
                    width: 200px;
                    opacity: 1;
                    padding: $zero $ten;
                }
                &[placeholder] {
                   color: $white;
                }
            }
            &:hover input {
                width: 200px;
                opacity: 1;
                padding: $zero $ten;
            }
        }
    }
}
