/* === Main === */

header ~ main {
    padding: $mainPadding;
    .section.group {
        .col {
            padding: $ten;
            article {
                position: relative;
                padding-top: 55%;
                > div:first-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                    }
                }
                > div:last-child {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    padding: 15px;
                    > a:first-child {
                        color: $mainColor;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    > a:nth-child(2) h3 {
                        margin: $zero;
                        color: $white;
                        font-size: 30px;
                    }
                    > p {
                        margin: 5px 0;
                        @include flexbox($justify-content: flex-start);
                        > a:first-child {
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            margin-right: 5px;
                            img {
                                width: 100%;
                            }
                        }
                        > span {
                            color: $white;
                            margin-right: 5px;
                            &:last-of-type {
                                font-size: 13px;
                                @include flexbox;
                                &::before,
                                &::after {
                                    content: '';
                                    width: 4px;
                                    height: 4px;
                                    background: white;
                                    display: inline-block;
                                    border-radius: 50%;
                                    margin: 0 5px;
                                }
                                i {
                                    margin-right: 3px;
                                }
                            }
                        }
                        > a:last-of-type {
                            color: lightskyblue;
                            margin-right: 5px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        > button {
                            color: $mainColor;
                            background: $transparent;
                            border: $zero;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        // Media Queries
        &:first-child {
            .col {
                @media (max-width: 767px) {
                    &.span_8_of_12 {
                        width: 100% !important;
                    }
                    &.span_4_of_12 {
                        width: 100% !important;
                    }
                    &.col {
                        margin-left: 0;
                        article {
                            > div:last-child {
                                position: relative;
                                background: $headerbg;
                                > a:nth-child(2) h3 {
                                    font-size: 18px;
                                }
                                > p {
                                    display: block;
                                    > a:first-child {
                                        display: none;
                                    }
                                    > span:first-of-type {
                                        display: inline-block;
                                        margin-bottom: 5px;
                                    }
                                    > a:last-of-type {
                                        display: inline-block;
                                        margin-bottom: 5px;
                                    }
                                    > span:last-of-type {
                                        display: block;
                                        margin-bottom: 5px;
                                        &::before,
                                        &::after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    &.span_8_of_12 {
                        width: 100%;
                    }
                    &.span_4_of_12 {
                        width: 49.2%;
                    }
                    &.col:nth-child(2) {
                        margin-left: 0;
                        margin-bottom: 0;
                    }
                    &.span_4_of_12 {
                        article {
                            > div:last-child {
                                > a:nth-child(2) h3 {
                                    font-size: 22px;
                                }
                                > p {
                                    > a:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                @media (min-width: 992px) and (max-width: 1199px) {
                    &.span_8_of_12 {
                        width: 100%;
                    }
                    &.span_4_of_12 {
                        width: 49.2%;
                    }
                    &.col:nth-child(2) {
                        margin-left: 0;
                        margin-bottom: 0;
                    }
                }
                @media (min-width: 1200px) {
                    &.col {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
        &:last-child {
            .col {
                @media (max-width: 767px) {
                    &.span_4_of_12 {
                        width: 100%;
                    }
                    &.col {
                        margin-left: 0;
                        article {
                            > div:last-child {
                                position: relative;
                                background: $headerbg;
                                > a:nth-child(2) h3 {
                                    font-size: 18px;
                                }
                                > p {
                                    display: block;
                                    > a:first-child {
                                        display: none;
                                    }
                                    > span:first-of-type {
                                        display: inline-block;
                                        margin-bottom: 5px;
                                    }
                                    > a:last-of-type {
                                        display: inline-block;
                                        margin-bottom: 5px;
                                    }
                                    > span:last-of-type {
                                        display: block;
                                        margin-bottom: 5px;
                                        &::before,
                                        &::after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    &.span_4_of_12 {
                        width: 49.2%;
                    }
                    &.col:nth-child(2n+1) {
                        margin-left: 0;
                    }
                    &.span_4_of_12 {
                        article {
                            > div:last-child {
                                > a:nth-child(2) h3 {
                                    font-size: 22px;
                                }
                                > p {
                                    > a:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                }
                @media (min-width: 992px) and (max-width: 1199px) {
                    &.span_4_of_12 {
                        width: 49.2%;
                    }
                    &.col:nth-child(2n+1) {
                        margin-left: 0;
                    }
                }
                @media (min-width: 1200px) {

                }
            }
        }
    }
    @media (max-width: 767px) {
        & {
            padding: $mainPadding 0;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        & {
            padding: $mainPadding 0;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {

    }
    @media (min-width: 1200px) {

    }
}
